@font-face {
    font-family: 'Tusker Grotesk';
    src: url('fonts/TuskerGrotesk-5700Bold.woff2') format('woff2'),
        url('fonts/TuskerGrotesk-5700Bold.woff') format('woff'),
        url('fonts/TuskerGrotesk-5700Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0px;
    font-family: 'montserrat', San Franscisco, Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
}
td {
    vertical-align: baseline;
}
img {
    border: 0;
    display: block;
}

.center {
    text-align: center;
}

.bg-white {
    background-color: #fff !important;
}

.bg-grey {
    background-color: #F8F8F8 !important;
    padding: 30px 26px !important;
}

.uppercase {
    text-transform: uppercase;
}


.hero {
    width: 100%;
    min-height: 358px;
    background: #008048;
}

.sec {
    margin: 0;
    padding: 0px 26px 30px;
    text-align: center;
}
    .sec.last {
        margin-bottom: 130px;
    }
    .sec h3 {
        margin: 0;
        font-weight: bold;
        color: #00CD73;
    }
    .sec table {
        margin: 10px 0 0 20px;
    }
    .sec table tr td {
        vertical-align: top;
        text-align: left;
        padding: 20px 0;
        border-bottom: 1px solid #E0E0E0;
    }
    .sec table tr td:last-child {
        padding-left: 20px;
    }
    .sec table tr td strong {
        color: #00CE6E;
    }
    .sec table tr:last-child td {
        border: 0;
        padding-bottom: 0;
    }

.bullet {
    display: inline-block;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #00CD73;
}

.box-outras-vantagens {
    margin: 0;
    padding: 30px 20px;
}
    .box-outras-vantagens .border {
        border-radius: 8px;
        padding: 18px;
        background-color: #E0FFDE;
    }
    .box-outras-vantagens h3 {
        margin: 0 0 16px;
        font-size: 28px;
        font-family: 'Tusker Grotesk';
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        color: #008048;
        letter-spacing: 0.8px;
    }

    .box-outras-vantagens table tr td {
        vertical-align: middle;
        line-height: 20px;
        height: 100px;
        color: #008048;
    }
    .box-outras-vantagens table tr td strong {
        color: #00CE6E;
    }
    .box-outras-vantagens table tr td:last-child {
        padding: 0 0 0 20px;
    }
    .box-outras-vantagens .center {
        margin: 40px 0 0;
    }
